.App {
  text-align: center;
}

.light {
  background-color: #dcdcdc;
  color: black;
}

a{color:white;}

.dark {
  background-color: white;
  color: black;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mt-1{
  margin-top: 1em;
}
.mt-2{
  margin-top:2em;
}

.float-left{
  float: left;
}



