.App {
  text-align: center;
}

.light {
  background-color: #fff;
  color: #333;
}

.dark {
  background-color: #3D3D3D;
  color: #f0f0f0;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.mt-1{
  margin-top: 1em;
}
.mt-2{
  margin-top:2em;
}

.float-left{
  float: left;
}



